:root{
	--foreground:#EBF8FF;
	--background:#09073A;
}

@font-face{
	font-family :'jetbrains';
	src:url('./jetbrains_mono_nf.ttf') format('truetype');
}

body{
	background:var(--background);
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3rem;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
}

.title{
	display: flex;
	justify-content: center;
	color:var(--foreground);
	font-family: jetbrains;
	font-size: 6rem;
	user-select: none;
	margin: 0;
}

.dp{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 11rem;
	width: 11rem;
	color: #000000;
	font-style: italic;
	border-radius: 50%;
	border: 0.3rem solid var(--foreground);

}

.links{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 3rem;
}

.links a{
	display: flex;
	align-items: center;
	justify-content: center;

	height:4rem;
	width:19rem;

	color: var(--background);
	background-color: var(--foreground);
	font-family: jetbrains;
	font-size: 2rem;
	border-radius: 1.1rem;

	user-select: none;
	text-decoration: none;
	border: 0.3rem solid transparent;
	transition: 0.2s;
}
.links a:hover{
	background-color: var(--background);	
	color:var(--foreground);
	border: 0.3rem solid var(--foreground);
}

footer{
	font-family: jetbrains;
	font-size: 1.2rem;
	color:var(--foreground);
	user-select: none;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255,255,255,0);
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 50px;
}

@media (max-width: 1024px){
	.container{
		gap:5rem;
	}

	.title{
		font-size: 10rem;
	}

	.dp{
		height: 20rem;
		width: 20rem;
		font-size: 2.4rem;
		border: 0.5rem solid var(--foreground);
	}

	.links a{
		height:8rem;
		width:35rem;

		font-size: 4rem;

		border-radius: 0.7rem;
	}

	footer{
		font-size: 2.2rem;
	}

}
